.hero {
  border-bottom: 1px solid #A467DE;
  background-image: url('./background.jpg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  a {
    color: #A467DE;
    font-family: 'Sen', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
  }
}