@mixin planetBackgroundStyles($imagePath) {
    background: url($imagePath);
    background-size: cover;
    background-repeat: no-repeat;
}

.planet {
    &--a {
        @include planetBackgroundStyles('./exo-a.jpg');
    }

    &--b {
        @include planetBackgroundStyles('./exo-b.jpg');
    }

    &--c {
        @include planetBackgroundStyles('./exo-c.jpg');
    }

    &--d {
        @include planetBackgroundStyles('./exo-d.jpg');
    }
}