.planet {
    border-radius: 50%;
    border: 1px solid #A467DE;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 30px;
    text-decoration: none;
    transition: all 0.2s;


    &:hover,
    &:active,
    &:focus {
        transform: scale(1.2);
    }
}

.fade {
    transition: all 0.6s;
}